:root {
  --dark: #525965;
  --dark-medium: #37404D;
  --darker: #272D35;
  --dark-low: #575757;
  
  --light: #F6F9FB;
  --ligther: #F2F2F2;
  --light-low: #E3E3E3;

  --featured: #fb0d1c;
  --featured-dark: #936EC9;
  --featured-low: #5DB5A1;

  --white: #ffffff;
}

* {
  font-family: 'Nunito Sans', sans-serif !important;
}

body {
  color: var(--dark-medium) !important;
}

a, a:hover {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

.icon {
  max-width: 30px;
  margin-right: 1rem;
  opacity: 0.7;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.setbox {
  color: var(--featured);
  font-weight: bold;
  padding: 0px !important; 
}

.area {
  padding: 80px var(--bs-gutter-x,.75rem);
}

.area-home {
  background-color: rgba(251, 13, 28, 0.9);
  color: var(--white) !important;
  height: calc(100vh - 57px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.area-home::after {
  content: "";
  background: url("/images/wallpapers/curitiba.jpg");
  background-size: cover;
  /* background-repeat: no-repeat;
  background-position: center; */
  height: 100vh;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.area-header {
  background-color: rgba(251, 13, 28, 0.9);
  color: var(--white);
}
.area-header::after {
  content: "";
  background: url("/images/wallpapers/bytes.jpg");
  background-size: cover;
  height: 200px;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.area-conteudo .versus {
  font-size: 6rem;
  color: var(--featured-dark);
}

.area-clientes a img {
  padding: 10px 20px;
  max-height: 60px;
  filter: grayscale(100%);
}
.area-clientes a img:hover {
  filter: grayscale(0%);
  transition: .8s;
}

.area-negocios {
  background-color: var(--featured-dark);
  color: var(--white);
}

.area-negocios .area-negocios-item {
  background-color: rgba(255, 255, 255, 0.1);
  display: block;
  min-height: 120px;
  border-radius: 4px;
  
  display:flex;
  align-items:center;
  justify-content: center;

  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
  transition: 0.25s;
}
.area-negocios .area-negocios-item:hover {
  /* box-shadow: 0 0 6px rgb(35 173 255); */
  box-shadow: 0 0 6px var(--light);
  -webkit-transform: skew(-10deg) scale(1.2, 1.2);
  transform: skew(-10deg) scale(1.2, 1.2);
  transition: 0.25s;
}
.area-negocios .area-negocios-item:hover::after {
  opacity: 0.1;
}

.area-rodape {
  background-color: var(--ligther);
}
.area-rodape .icon-social-media {
  opacity: 0.7;
}
.area-rodape h3 {
  padding-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--featured-dark);
  font-weight: bold;
  border-bottom: 2px solid var(--featured-dark);
}
.area-rodape ul li {
  color: #575757;
  border-bottom: 1px solid #E3E3E3;
  padding-bottom: 0.6rem;
  margin-bottom: 0.7rem;
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: 400;
}

footer {
  padding: 0px var(--bs-gutter-x,.75rem);
}
footer .area-final {
  padding: 20px 0px;
  font-size: 0.8rem;
  background-color: var(--light-low);
}
footer .area-final span {
  color: var(--featured);
}

/* .__middle-area {
  display: flex;
  align-items: center;
} */

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}