:root {
  /* --dark-low: #666; */
  --dark: #525965;
  --dark-medium: #37404D;
  --darker: #272D35;
  
  --light: #F6F9FB;
  --ligther: #F2F2F2;
  --light-low: #E3E3E3;
  /* --light-medium: #ddd; */

  --featured: #fb0d1c;
  --featured-dark: #936EC9;
  --featured-low: #5DB5A1;
}

* {
  font-family: 'Nunito Sans', sans-serif !important;
}

body {
  color: var(--dark-medium) !important;
}

.setbox {
  color: var(--featured);
  font-weight: bold;
  padding: 0px !important; 
}

.area {
  padding: 80px 0px;
}

.area-home {
  background-color: #fb0d1c80;
  color: #fff !important;
  height: calc(100vh - 57px);
  display: flex;
  align-items: center;
  justify-content: center;
}

div::after {
  content: "";
  background: url("/images/wallpapers/curitiba.jpg");
  background-size: cover;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.area-clientes {
  background-color: var(--light);
  height: 100vh;
}
.area-clientes span {
  display:inline-block;
  padding: 10px 20px;
}
.area-clientes span img {
  max-height: 60px;
  filter: grayscale(100%);
}
.area-clientes span img:hover {
  filter: grayscale(0%);
  transition: .8s;
}

/* .__middle-area {
  display: flex;
  align-items: center;
} */

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}