<div class="area area-rodape">
  <div class="row">
    <div class="col-12 col-md-6 my-2">
      <h3>Entre em contato</h3>
      <p>
        <a href="/" target="_blank"><img src="/images/icones/twitter.png" class="icon icon-social-media" height="30px"></a>
        <a href="https://github.com/setbox" target="_blank"><img src="/images/icones/github.png" class="icon icon-social-media" height="30px"></a>
        <a href="/" target="_blank"><img src="/images/icones/facebook.png" class="icon icon-social-media" height="30px"></a>
        <a href="http://linkedin.com/company/setbox-servicos-digitais" target="_blank"><img src="/images/icones/linkedin.png" class="icon icon-social-media" height="30px"></a>
      </p>
      <p>Fale com a área de vendas: (41) 99907-3688
        <br>contato@setbox.com.br</p>
      <p>
        Rua João Bettega, 649 - Sala 3A
        <br>Curitiba/ PR - Portão
      </p>
    </div>
    <div class="col-12 col-md-6 my-2">
      <div class="row">
        <div class="col">
          <h3>Produtos</h3>
          <ul class="list-unstyled">
            <li><a href="https://jayio.setbox.com.br" target="_blank">Jayio</a></li>
            <li><a href="https://pigeon.setbox.com.br" target="_blank">Pigeon</a></li>
            <li><a href="https://plog-io.github.io" target="_blank">Plog</a></li>
            <li><a href="https://relatorioccb.net" target="_blank">RelatórioCCB.net</a></li>
          </ul>
        </div>
        <div class="col">
          <h3>Empresa</h3>
          <ul class="list-unstyled">
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="subsidiarias.html">Subsidiárias</a></li>
            <li><a href="sobre.html#empregos">Empregos</a></li>
            <li><a href="https://github.com/setbox" target="_blank">Open Source</a></li>
            <li><a href="http://www.bytecoracao.ong.br" target="_blank">Byte Coração</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="row area-final">
    <div class="col text-center">Feito com <span>♥</span> em Curitiba</div>
  </div>
</footer>