<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="images/setbox-lateral.png" height="30px" ></a>
    <!--
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#top-menu" aria-controls="top-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="top-menu">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <form class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="#">Serviços</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Produtos</a></li>
            <li class="nav-item"><a class="nav-link" href="http://linkedin.com/company/setbox-servicos-digitais" target="_blank">Empregos</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Contato</a></li>
          </ul>
        </form>
      </div>
    -->
  </div>
</nav>
