:root {
  --dark: #525965;
  --dark-medium: #37404D;
  --darker: #272D35;
  --dark-low: #575757;
  
  --light: #F6F9FB;
  --ligther: #F2F2F2;
  --light-low: #E3E3E3;

  --featured: #fb0d1c;
  --featured-dark: #936EC9;
  --featured-low: #5DB5A1;

  --white: #ffffff;
}